* {
    font-family: sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: #444444;
    color: #ffffff;
}

#workspaces button {
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #af0000;
}

#battery,
#bluetooth,
#clock,
#cpu,
#idle_inhibitor,
#keyboard-state label.locked,
#memory,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
}


#battery {
    background-color: #808080;
}

#battery.charging {
    background-color: #5faf5f;
}

#bluetooth {
    background-color: #0082FC;
}

#clock {
    background-color: #878787;
}

#cpu {
    background-color: #5f8700;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#keyboard-state label.locked {
    background-color: #d70000;
}

#idle_inhibitor.activated {
    background-color: #bcbcbc;
}

#memory {
    background-color: #d75f00;
}

#network {
    background-color: #0087af;
}

#network.disconnected {
    background-color: #d70000;
}

#pulseaudio {
    background-color: #d7af5f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #5f8787;
}

#tray {
    background-color: #0087af;
}
